body {
  background-color: black;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator {
  background-color: #1E1E1E;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,255,255,0.2);
  text-align: center;
  width: 350px;
}

.calculator h2 {
  color: #F5F5F5;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #121212;
  color: white;
  outline: none;
}

.buttons button {
  padding: 10px 20px;
  margin: 8px 5px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #2196F3;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #0b7dda;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #E0E0E0;
}
